$white: #ffffff;
$black: #000000;
$less-black: #171717;
$blue: #005594;
$medium-blue: #002f6c;
$dark-blue: #071d39;
$light-blue: #00e0ff;
$ocean-blue: #6699be;
$royal-blue: #3023ae;
$electric-blue: #1ff1c8;
$teal: #00e0ff;
$middle-blue: #2077b6;
$yellow: #ffbc05;
$gold: #fcb700;
$video-gold: #ffbc05;
$grey: #9b9b9b;
$light-grey: #f2f2f2;
$mid-light-grey: #cfd8e2;
$lighter-grey: #f8f8f8;
$dark-grey: #7f7f7f;
$darker-grey: #171717;
$middle-grey: #747474;
$border-blue: #002f6c;
$baby-blue: #cfd8e2;
$pro-green: #39bb7a;
$green: #3cb878;
$red: #ff5053;
$border-dark-grey: #8b8b8b;
$border-grey: #e8e8e8;
$border-light-grey: #f3f5f7;
$marketRed: #ce2b2b;
$market-green: #008456;
$jade-green: #00b78e;
$heather-gray: #b9c7d5;
$mineShaft: #2e2e2e;
$gun-metal: #232323;
$dusty-gray: #9b9b9b;
$dust-gray: #979797;
$placeholder-grey: #a2a2a2;
$straw: #d1bb7e;
$tawny-port: #732634;
$aubergine: #2e0810;
$wine-berry: #69212d;
$spring-wood: #fcfbf8;
$facebook-color: #3b5998;
$twitter-color: #0084b4;
$linkedin-color: #0077b5;
$email-color: #002f6c;
$tango: #f26f20;
$scampi: #645fa9;
$lochmara: #0088cf;
$malachite: #0cb04c;
$search-border: #d1d1d1;
$dodger-blue: #53a0fd;
$orange: #f87121;
$zumthor-grey: #f6f6f6;
$broadcast-red: #ff0004;
$scorpion: #5d5d5d;
$error-red: #d0021b;
$related-background-grey: #cfd8e2;
$silver-chalice: #b2b2b2;
$default-link-blue: #1876b8;
$card-placeholder-grey: #d7e1e4;
$cinnabar: #e43e41;

// Exporting for mocks.
:export {
  orange: $orange;
  electricblue: $electric-blue;
}
